form action="/drinks" method="post"
    input type="text" name="name" placeholder="Name Drink"/
    input# type="number" name="volume" placeholder="Volume in cl"/
    input# type="number" name="price" placeholder="Set Price"/
